  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>{{post.title[0]}}</title>
      <link rel="stylesheet" href="static/css/style.css">
      <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">
      <meta property='og:title' content='{{post.title[0]}}'>
      <meta property='og:image' content='{{post.image[0]}}'>
      <meta property='og:description' content='{{post.description[0]}}'>
      <meta property='og:url' content='{{baseURL}}'> 
      <meta property='og:site_name' content='{{post.title[0]}}'>
      <meta property='og:type' content='website'>
      <meta property='og:updated_time' content='{{ post.published[0] }}'/>
      <meta name="twitter:title" content="{{post.title[0]}}">
      <meta name="twitter:description" content="{{post.description[0]}}">
  </head>