<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
  <header>
    <h2>{{ title[0] }}</h2>
  </header>
  <div class="row">
    {% include 'navbar.html' %}
    <section class="main card expended">
      
        {{ content | safe }}
        
    </section>
    <div class="right"></div>
  </div>

  <script>
    for(let image of document.getElementsByTagName("img")){
     
      var caption = document.createElement('span');
      caption.innerHTML = image.alt;
      caption.classList.add("caption");
      
      if(image.parentElement.tagName=='P'){
        image.parentElement.appendChild(caption);
      }
    
    }

  </script>
  

  </body>
</html>
